{% extends 'baseCalender.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block stylesheets %}
    <style>
        #calendrier {
            width: 80%;
            margin: auto;
        }
        .fc-button {
            background-color: orange; /* Changer la couleur des boutons en orange */
            color: white; /* Changer la couleur du texte en blanc */
        }
    </style>
{% endblock %}

{% block body %}
   <div id="calendrier">
       <p>Voici le calendrier des événements</p> <!-- Ajouter le message -->
   </div>
{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")

        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'dayGridMonth',
            locale: 'fr',
            timeZone: 'Afrique/Tunisie',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek'
            },
            events: {{ events | raw }}, 
           // editable: true,
            eventResizableFromStart: true,
            eventClick: function(info) { 
                console.log(info.event.extendedProps); 
                alert('Description: ' + info.event.extendedProps.description);
            }
        });
        
        calendar.on('eventChange', (e) => {
            // Extract the ID of the Defis entity from the event ID
            let eventId = e.event.id;
            let url = `/api/${eventId}/edit`; // Construct the URL with the correct ID
            let donnees = {
                "nome": e.event.title,
                "date": e.event.start,
                "heure": e.event.end, // Assuming end is the time property
                // Add other properties if needed
            };
            
            let xhr = new XMLHttpRequest();

            xhr.open("PUT", url);
            xhr.setRequestHeader("Content-Type", "application/json"); // Set the request header
            xhr.send(JSON.stringify(donnees));
        });

        calendar.render();
    };
</script>
{% endblock %}
