<form method="post" action="{{ path('app_commentaire_delete_superadmin', {'idc': commentaire.idc, 'ide': commentaire.evenementRelation.ide}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.idc) }}">
    <button class="btn" style=" color: #f99d26;"><b>Supprimer</b></button>
</form>

<form method="get" action="{{ path('app_commentaire_delete_superadmin', {'idc': commentaire.idc, 'ide': commentaire.evenementRelation.ide}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.idc) }}">
</form>
