{{ form_start(form) }}
    {{ form_errors(form) }}
       {{ form_row(form.contenu, {'attr': {'class': 'form-control', 'placeholder': 'Votre commentaire',  'style': 'border-radius: 10px; border: 1px solid #ccc; padding: 10px;'}}) }}
    <button type="submit"class="btn btn-primary d-inline"  style="background-color: #f99d26; border-radius: 30px; border: 2px solid white; color: white;">Ajouter</button>
{{ form_end(form) }}
