<form method="post" action="{{ path('app_commentaire_delete_user', {'idc': commentaire.idc, 'ide': commentaire.evenementRelation.ide}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.idc) }}">
    <button class="btn" style="background-color: #f99d26; border-radius: 30px; border: 2px solid #f99d26; color: white;"><b>Supprimer</b></button>
</form>

<form method="get" action="{{ path('app_commentaire_delete_user', {'idc': commentaire.idc, 'ide': commentaire.evenementRelation.ide}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.idc) }}">
</form>
